<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Vet Manager - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <!--<div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>-->
        <div class="sidebar-brand-text mx-3">Houston Zoo Vet Manager</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>



      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Nav Item - Tables -->

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= data.employee[0].first_name %> <%= data.employee[0].last_name%> </span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/editEmployeeInfo/">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Update Animal Details</h1>
          </div>
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Species</th>
                      <th>DOB</th>
                      <th>GENDER</th>
                      <th>DIET TYPE</th>
                      <th>ENCLOSURE-ID</th>
                      <th>STATUS</th>
                      <th>FEEDINGS-per-day</th>

                    </tr>
                  </thead>

                  <tbody>
                    <form id="updateAnimal" action = "/updateAnimal/<%=data.animal[0].animal_id%>" method = "POST">
                      <tr>
                        <td><%= data.animal[0].animal_name %>       </td>
                        <td><%= data.animal[0].species %>           </td>
                        <td><%= data.animal[0].dob %>               </td>
                        <td><%= data.animal[0].gender %>            </td>

                        <script type="text/javascript">
                            function changeDietValue(callback){
                            var eID = document.getElementById("diet");
                            var dietVal = eID.options[eID.selectedIndex].value;
                            var diet = eID.options[eID.selectedIndex].text;
                            }
                        </script>
                        <td>
                            <select name="diet" id="diet" form="updateAnimal" required>
                              <option value="" onchange="changeDietValue(this)">SELECT BELOW</option>
                              <option value="1" onchange="changeDietValue(this)">Herbivore</option>
                              <option value="2" onchange="changeDietValue(this)">Carnivore</option>
                              <option value="3" onchange="changeDietValue(this)">Omnivore</option>
                            </select> 
                        </td>


                        <script type="text/javascript">
                            function changeEnclosureValue(callback){
                            var eID2 = document.getElementById("enclosure");
                            var enclosureVal = eID2.options[eID2.selectedIndex].value;
                            var enclosure = eID2.options[eID2.selectedIndex].text;
                            }
                        </script>
                        <td>
                          <select name="enclosure" id="enclosure" form="updateAnimal" required>
                              <option value="" onchange="changeEnclosureValue(this)">SELECT BELOW</option>
                              <option value="111111" onchange="changeEnclosureValue(this)">Gorillas in the African Forest</option>
                              <option value="111112" onchange="changeEnclosureValue(this)">Jungle Trails</option>
                              <option value="111113" onchange="changeEnclosureValue(this)">Cat Canyon</option>
                              <option value="111114" onchange="changeEnclosureValue(this)">Giraffe Ridge</option>
                              <option value="111115" onchange="changeEnclosureValue(this)">Hippo Outpost</option>
                              <option value="111116" onchange="changeEnclosureValue(this)">African Forest</option>
                              <option value="111117" onchange="changeEnclosureValue(this)">Wings of the World</option>
                              <option value="111118" onchange="changeEnclosureValue(this)">Ice Age</option>
                              <option value="111119" onchange="changeEnclosureValue(this)">Dry Desert</option>
                              <option value="111120" onchange="changeEnclosureValue(this)">Amazon Forest</option>
                              <option value="111121" onchange="changeEnclosureValue(this)">Swamp Lands</option>
                              <option value="111122" onchange="changeEnclosureValue(this)">Aquatic World</option>
                            </select>
                        </td>


                        <script type="text/javascript">
                            function changeHealthValue(callback){
                            var eID3 = document.getElementById("status");
                            var healthVal = eID3.options[eID3.selectedIndex].value;
                            var health = eID3.options[eID3.selectedIndex].text;
                            }
                        </script>
                        <td>
                            <select name="status" id="status" form="updateAnimal" required>
                              <option value="" onchange="changeHealthValue(this)">SELECT BELOW</option>
                              <option value="healthy" onchange="changeHealthValue(this)">Healthy</option>
                              <option value="sick" onchange="changeHealthValue(this)">Sick</option>
                              <option value="pregnant" onchange="changeHealthValue(this)">Pregnant</option>
                              <option value="deceased" onchange="changeHealthValue(this)">Deceased</option>
                            </select> 
                        </td>


                        <script type="text/javascript">
                              $var2 = $_POST['diet-type','enclosure','status'];
                        </script>


                        <td> <input type="text" name="feedings" id = "feedings"  required> </td>
                        <td> <input type="submit" class="btn btn-primary"> </td>
                      </tr>  
                  </tbody>
                </table>
              </form>       
        </div>
        <!-- /.container-fluid -->


      <!-- End of Main Content -->

      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
    <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/employeeLogout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../assets/vendor/jquery.easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../assets/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../assets/vendor/demo/chart-area-demo.js"></script>
  <script src="../assets/vendor/demo/chart-pie-demo.js"></script>

  </div>
</body>

</html>

